



/*///////////////////////////////////////////////////////////////////////*/
/* Condition pour mobile */
/*//////////////////////////////////////////////////////////////////////////*/

@media (max-width: 640px){

.apps{  display: none;}
.apps--mobile{
    background-color: #F9F1E5;

    .apps__title{
        padding: 30px;
        background-color: black;
        border-radius: 200px;
    }
    
    .container__apps{   display: none;}
    .container__apps--mobile{
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        padding: 69px 4px 46px 4px;

    &__title{
        padding: 30px;
        background-color: black;
        border-radius: 200px;
    }  

    .app--mobile{
        width: 100%;
        height: 80px;
        border-radius: 8px;
        border: 2px solid black;
        transition: height 0.2s ease;

        &:active{ background-color:#FCFEA5;}

        .container__title{
            display: flex;
            height: 50px;
            margin: 23px 23px;

            h3{ flex: 1;}

            .icon{
                width: 50px;
                transform: rotate(90deg);
                align-self: center;

                &.fable { height: 30px;}
                &.sg { height: 50px;}
                &.gr { height: 40px; width: 40px;}
            }
        }

        &:nth-child(1){
            width: 88%;
            margin: auto;
            margin: 4px 0;
        }
        &:nth-child(2){
            width: 95%;
            margin: auto;
        }
        
        .title--cap--mobile{
            text-align: center;
            align-self: center;
        }


        &.app--expanded {
            height: 100%;
            animation: expand 0.5s ease;  
            margin: 4px auto;
            background-color:#FCFEA5;

            .container__title{ justify-content: center;}
            .icon{ display:none;}
        }
        &.app--unexpanded{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 4px auto;
        }
    
        .app__list--data {
            display: none;
            padding: 0;
            margin: 0;
            list-style: none;

            li{
                font-family: "mr-eaves-modern", sans-serif;
                font-weight: 300;
                font-style: normal;
                font-size: 21px;  
                line-height: 25px;
                color: #202020;        
                padding: 0;
                margin: 0px 12px 20px 12px;
                display: flex;

                svg {
                    width: 20px;
                    height: 20px;
                    margin-right: 12px;
                    margin-bottom: -4px;
                    flex: 0 0 30px;
                }
            }
        }

        &.app--unexpanded, &.app--expanded{
            .app__list--data{
                width: 100%;
            }
        } 
            
        
        
        &.app--unexpanded{
            .app__list--data {
                display: none;
                animation: unreveal 0.2s ease;
            }
        }

        &.app--expanded{
            .app__list--data {
                display: list-item;
                height: 100%;
                animation: reveal 0.7s ease;
            }
        }
        }
    }
}
}

@keyframes reveal {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes unreveal {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}
@keyframes expand {
    0% {
        height: 50px;
    }
    100% {
        height: 100%;
    }
}
@keyframes unexpand {
    0% {
        height: 100%;
    }
    100% {
        height: 50px;
    }
 }



























  
// /*///////////////////////////////////////////////////////////////////////*/
// /* Condition pour tablette */
// /*//////////////////////////////////////////////////////////////////////////*/

@media (min-width: 641px){

.apps--mobile{ display: none;}
.apps{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: #F9F1E5;

    &__title{
        grid-column: 1/9;
        padding: 40px;
        background-color: black;
        border-radius: 200px;
    }

    .container__apps{
        grid-column: 1/9;
        display: flex;
        height: 70vh;
        align-items: flex-end;
        position: relative;        
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        padding: 50px 48px;
    }

    .app{
        width: 20px;
        border-radius: 8px;
        flex: 0.7;
        margin: 0 4px;
        position: relative;
        transition: all 0.7s ease-out;
        overflow: hidden;

        &:active{ background-color:#ceb8ff;}

        div{
            position: absolute;
        }

        .title--cap{
            text-align: center;
            margin-bottom: 25px;
        }

        &__list {
            list-style: none;
            padding: 0;
            
            &__svg {
                width: 25px;
                height: 25px;
                margin-right: 20px;
                margin-bottom: -4px;
                flex: 0 0 30px;
            }

            li{
                font-family: "mr-eaves-modern", sans-serif;
                font-weight: 300;
                font-style: normal;
                font-size: 21px;  
                line-height: 25px;
                color: #202020;        
                padding: 0 24px;
                margin-bottom: 20px;
                display: flex;
            }
        }
            
        

        .contentOpen{
            .app__svg{
                width: 70px;
                height: 70px;
                display: block;
                margin: 29px auto;
                &--gr{
                    width: 60px;
                    height: 60px;
                }
            }
            .app__png{
                width: 80px;
                height: 50px;
                display: block;
                margin: 29px auto;
            }
        }

        .contentClosed{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin: auto;

            &:hover{
                background-color: #FCFEA5;
            }

            .app__svg{
                width: 70px;
                height: 70px;
                align-self:end;
                margin-bottom: 20px;

                &--gr{
                    width: 70px;
                    height: 70px;
                    margin-bottom: 12px;
                }
            }
            .app__png{
                width: 90px;
                height: 60px;
                align-self: flex-end;
                margin-bottom: 28px;
            }
            
            .title--cap{
                writing-mode: vertical-lr; 
                text-align: center;
                transform: translateX(-50%) translateY(-50%); /* Center the text */
                position: absolute;
                top: 50%;
                left: 50%;
                margin-bottom: 0;
            }
        }
    } 

    .app.active{
        flex: 3;
        background-color:#FCFEA5;;
    }

    .app:nth-child(1){
        border: 2px solid black;          
        height: 100%;
    }
    .app:nth-child(2){
        border: 2px solid black;          
        height: 85%;
    }
    .app:nth-child(3){
        border: 2px solid black;          
        height: 95%;
    }

}
    
}












/*///////////////////////////////////////////////////////////////////////*/
/* Condition pour desktop */
/*//////////////////////////////////////////////////////////////////////////*/

@media (min-width: 1008px){

.apps--mobile{ display: none;}
.apps{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    background-color: #F9F1E5;

    &__title{
        grid-column: 1/14;
        min-height: 180px;
        padding: 40px;
        background-color: black;
        border-radius: 200px;
        line-height: 70px;
    }

    .bg{
        grid-column: 12/14;
        background-color: #FCFEA5;
        border-left: 2px solid black;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

    .container__apps{
        grid-column: 1/12;
        display: flex;
        height: 100vh;
        align-items: flex-end;
        position: relative;        
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        padding: 29px 96px;
    }

    .app{
        width: 20px;
        border-radius: 8px;
        flex: 0.5;
        margin: 0 4px;
        position: relative;
        transition: all 0.7s ease-out;
        cursor: pointer;
        overflow: hidden;
        display: flex;
        justify-content: center;

        div{
            position: absolute;
        }

        .title--cap{
            text-align: center;
            margin-bottom: 34px;
        }

        &__list {
            list-style: none;
            padding: 0;
            
            &__svg {
                width: 30px;
                height: 30px;
                margin-right: 24px;
                margin-bottom: -4px;
                flex: 0 0 30px;
            }

            li{                max-width: 700px;
                margin: auto;    

                font-family: "mr-eaves-modern", sans-serif;
                font-weight: 300;
                font-style: normal;
                font-size: 23px;  
                line-height: 29px;
                color: #202020;        
                padding: 0 48px;
                margin-bottom: 20px;
                display: flex;
            }
        }
          
        

        .contentOpen{
            .app__svg{
                width: 70px;
                height: 70px;
                display: block;
                margin: 29px auto;
                &--gr{
                    width: 60px;
                    height: 60px;
                }
            }
            .app__png{
                width: 80px;
                height: 50px;
                display: block;
                margin: 29px auto;
            }
        }

        .contentClosed{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin: auto;

            &:hover{
                background-color: #FCFEA5;
            }

            .app__svg{
                width: 80px;
                height: 80px;
                align-self:end;
                margin-bottom: 20px;

                &--gr{
                    width: 70px;
                    height: 70px;
                    margin-bottom: 12px;
                }
            }
            .app__png{
                width: 100px;
                height: 70px;
                align-self: flex-end;
                margin-bottom: 28px;
            }
            
            .title--cap{
                writing-mode: vertical-lr; 
                text-align: center;
                transform: translateX(-50%) translateY(-50%); /* Center the text */
                position: absolute;
                top: 50%;
                left: 50%;
                margin-bottom: 0;
            }
        }
    } 

    .app.active{
        flex: 3;
    }

    .app:nth-child(1){
        border: 2px solid black;          
        height: 90%;
    }
    .app:nth-child(2){
        border: 2px solid black;          
        height: 75%;
    }
    .app:nth-child(3){
        border: 2px solid black;          
        height: 85%;
    }

}



}