

.apps{
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    background-color: #F9F1E5;

    &__title{
        grid-column: 1/14;
        min-height: 180px;
        padding: 40px;
        background-color: black;
        border-radius: 200px;
        line-height: 70px;
    }

    .bg{
        grid-column: 12/14;
        background-color: #FCFEA5;
        border-left: 2px solid black;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

    .container__apps{
        grid-column: 1/12;
        display: flex;
        height: 100vh;
        align-items: flex-end;
        position: relative;        
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        padding: 29px 96px;
    }

    .app{
        width: 20px;
        border-radius: 8px;
        flex: 0.5;
        margin: 0 4px;
        position: relative;
        transition: all 0.7s ease-out;
        cursor: pointer;
        overflow: hidden;

        div{
            position: absolute;
        }

        .title--cap{
            text-align: center;
            margin-bottom: 34px;
        }

        &__list {
            list-style: none;
            padding: 0;
            
            &__svg {
                width: 30px;
                height: 30px;
                margin-right: 24px;
                margin-bottom: -4px;
                flex: 0 0 30px;
            }

            li{
                font-family: "mr-eaves-modern", sans-serif;
                font-weight: 300;
                font-style: normal;
                font-size: 23px;  
                line-height: 29px;
                color: #202020;        
                padding: 0 48px;
                margin-bottom: 20px;
                display: flex;
            }
        }
          
        

        .contentOpen{
            .app__svg{
                width: 50px;
                height: 50px;
                display: block;
                margin: 29px auto;

            }
        }

        .contentClosed{
            width: 30px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin: auto;

            .app__svg{
                width: 50px;
                height: 50px;
                align-self:end;

            }
            
            .title--cap{
                writing-mode: vertical-lr; 
                text-align: center;
                transform: translateX(-50%) translateY(-50%); /* Center the text */
                position: absolute;
                top: 50%;
                left: 50%;
                margin-bottom: 0;
            }
        }
    } 

    .app.active{
        flex: 3;
    }

    .app:nth-child(1){
        border: 2px solid black;          
        height: 90%;
    }
    .app:nth-child(2){
        border: 2px solid black;          
        height: 75%;
    }
    .app:nth-child(3){
        border: 2px solid black;          
        height: 85%;
    }

}
