
.imgShelf, .imgMeeting{
    width: 100%;
    height: 9vw;
    object-fit: cover;
    border-radius: 200px;
    margin-top: 12px;
}

.imgShelf{
    object-position: 40% 60%;

}
.imgMeeting{
    object-position: bottom;
}

.imgBed{
    width: 65%;
    object-fit: cover;
    border-radius: 20px;
}

.imgPc{
    width: 65%;
    object-fit: cover;
    border-radius: 20px;
}

.imgPile{
    width: 65%;
    object-fit: cover;
    border-radius: 20px;

}