


/*///////////////////////////////////////////////////////////////////////*/
/* Condition pour mobile */
/*//////////////////////////////////////////////////////////////////////////*/

.imgBed, .imgMeeting, .imgPc, .imgPile{
    object-fit: cover;
}

.wireframe{
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
}

.bgp {
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}








  
/*///////////////////////////////////////////////////////////////////////*/
/* Condition pour tablette */
/*//////////////////////////////////////////////////////////////////////////*/

.imgMeeting{
    object-fit: cover; 
    object-position: bottom;
}

.imgShelf{
    object-position: 40% 60%;
}

.wireframe{
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%
}

.bgp {
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}












/*///////////////////////////////////////////////////////////////////////*/
/* Condition pour desktop */
/*//////////////////////////////////////////////////////////////////////////*/


.imgShelf{
    object-position: 40% 60%;
}

.imgBed, .imgMeeting, .imgPc, .imgPile{
    object-fit: cover;
}

.wireframe{
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
}

.bgp {
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
